$main-color: #129b38;
$secondary-color: #11772e;
$text-color: #333333;

.fadeIn {
  animation: fade 0.5s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ant-btn-primary{
  background-color:$main-color;
  border: none;
  &:hover, &:active, &:focus{
    background-color: $secondary-color;
  }
}
.ant-table{
  overflow-x: auto;
}