@import "../App.scss";

.header {
  background: #ffffff;
  height: auto;
  line-height: initial;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  h2 {
    margin-bottom: 0.1em;
  }
  h5 {
    margin: 0;
  }

  .right {
    .btn-logout {
      cursor: pointer;
    }
  }
}

.menu-container {
  background: $main-color;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  .title {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    margin: 10px 0px;
  }
  .menu-item {
    padding: 15px 24px;
    display: block;
    background-color: transparent;
    color: white;
    .menu-logo {
      margin-right: 10px;
    }
    &.active,
    &:hover {
      background-color: $secondary-color;
    }
  }
}

.site-layout{
  margin-left: 200px;
}
@media (max-width: 768px) {
  .menu-container {
    display: none;
  }
  .site-layout{
    margin-left: 0px;
  }
}

@media (max-width: 480px) {
  .header {
    h2 {
      font-size: 1em;
    }
    h5 {
      font-size: 0.7em;
    }
  }
}
