.row-income, .total-income{
  color: green;
}
.total-income, .total-outcome, .total{
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
}
.row-outcome, .total-outcome{
  color: red;
}
.summary-label{
  font-weight: bold;
  text-align: right;
}